.Product
{
  padding: 2px 0;
}

.Product .Count
{
  float: right;
  width: 80px;
  font-weight: bold;
  text-align: right;
}

.Product .Text
{
  margin-right: 30px;
}

.Product .Imgg
{
  width: 70px;
  height: 70px;
}
.Product .Price
{
  position: relative;
  top: 50%;
}